@mixin alert($type) {
    @if $type == "danger" {
        $bg-color: rgba(255, 25, 0, 0.1) !global;
        $border-color: rgba(255, 25, 0, 0.322) !global;
        $text-color: #ff1900 !global;
    } @else if $type == "success" {
        $bg-color: rgba(0, 255, 0, 0.1) !global;
        $border-color: rgba(0, 255, 0, 0.322) !global;
        $text-color: #03b203 !global;
    } @else if $type == "warning" {
        $bg-color: rgba(255, 255, 0, 0.1) !global;
        $border-color: rgba(255, 255, 0, 0.322) !global;
        $text-color: #749506 !global;
    } @else if $type == "info" {
        $bg-color: rgba(0, 0, 255, 0.1) !global;
        $border-color: rgba(0, 0, 255, 0.322) !global;
        $text-color: #0000ff !global;
    } @else {
        $bg-color: rgba(0, 0, 0, 0.1) !global;
        $border-color: rgba(0, 0, 0, 0.322) !global;
        $text-color: #000000 !global;
    }

    border: 2px dotted $border-color;
    padding: 1rem;
    border-radius: 5px;
    background-color: $bg-color;
    color: $text-color;
    margin: 1rem 0;

    .alert-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.5rem;

        .title {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 600;

            svg {
                margin-right: 0.5rem;
            }

            h4 {
                margin: 0;
            }
        }

        span {
            cursor: pointer;
        }
    }

    p {
        margin: 0;
    }
}

.alert-danger {
    @include alert("danger");
}

.alert-success {
    @include alert("success");
}

.alert-warning {
    @include alert("warning");
}

.alert-info {
    @include alert("info");
}

.alert-default {
    @include alert("default");
}
